*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-blue: #090b1a;
  --dark-desaturated-blue: #1b1938;
  --soft-violet: #aa5cdb;
  --white: #ffffff;
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white2: hsla(0, 0%, 100%, 0.6);
}

/*
font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif;
*/
