*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-dark-blue: #090b1a;
  --dark-desaturated-blue: #1b1938;
  --soft-violet: #aa5cdb;
  --transparent-violet: rgba(119, 27, 176, 0.518);
  --white: #ffffff;
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  --slightly-transparent-white2: hsla(0, 0%, 100%, 0.6);
}

body {
  background-color: var(--very-dark-blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-family: "Inter", sans-serif;
  color: var(--white);
}

.card-container {
  width: 327px;
  background-color: var(--dark-desaturated-blue);
  border-radius: 8px;
  position: relative;
  text-align: center;
}

.purple-overlay {
  background: hsl(277, 64%, 61%);
}

.header-img {
  opacity: 0.8;
  mix-blend-mode: multiply;
  max-width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.title,
.description {
  width: 264px;
}

.title {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 32px;
  margin: 2.5rem auto 1rem;
}

.insights-text {
  color: var(--soft-violet);
}

.description {
  font-weight: 400;
  font-size: 0.938rem;
  line-height: 25px;
  color: var(--white);
  mix-blend-mode: normal;
  opacity: 0.75;
  margin: 0 auto;
}

.analytics-container {
  margin-top: 2.5rem;
  margin-bottom: 2rem;
  list-style-type: none;
}

.analytic {
  margin-top: 1.2rem;
}

.stats {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 29px;
}

.tag {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  opacity: 0.6;
}

footer {
  margin-top: 1rem;
}

footer a {
  color: var(--white);
}

footer a:hover {
  color: var(--soft-violet);
  text-decoration: none;
}

@media (min-width: 1024px) {
  .card-container {
    width: 1100px;
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
  }

  .header-img,
  .purple-overlay {
    border-radius: 0px 8px 8px 0px;
  }

  .text-container {
    margin: 0;
    width: 50%;
  }

  .title,
  .analytics-container {
    width: 403px;
  }

  .title {
    font-size: 2.25rem;
    line-height: 44px;
    margin-top: 4.438rem;
    margin-bottom: 1.563rem;
  }

  .description {
    margin-left: 3rem;
    width: 374px;
  }

  .analytics-container {
    margin: 4.5rem 0 0 1rem;
    display: flex;
    justify-content: space-around;
  }

  .tag {
    margin-top: 0.125rem;
  }
}
